<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="container1">
        <nav><span class="logo">Admin Home</span>
            <span>
            <input  class="search"  type="search" placeholder="search"></span>
        <span class="service">Services</span></nav>
    </div></nav>
    <div class="main-a">
        <div class="main">
            {{user}}
            <a href="../userlogout">logout</a>
</div>
</div>

</body>
</html>